.line{
    height: 5px;
    width: 120px;
    background-color: #2C3E50;
}
.mainColor{
    color: #2C3E50;
}
.btnColor{
    color: white;
    background-color: #1ABC9C !important;
}
.placeholder {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    transition: all 0.2s ease;
  }
  
  .focused {
    font-size: 0.9rem;
    color: #1ABC9C;
  }
  
  .inputContainer {
    position: relative;
  }
  
  .inputField {
    padding-left: 10rem;
  }
  .formcontrol {
  
    transition: none !important; 
    outline: none !important; 
    box-shadow: none !important; 
  }